<IfModule mod_rewrite.c>
RewriteEngine on

# Redirect /index.php (and /index) to /
RewriteCond %{THE_REQUEST} ^GET\ /(.*/)?index(\.php)?(\?.*)?\ HTTP/
RewriteRule ^ http://%{HTTP_HOST}/%1 [L,R=301]

# Redirect /foo.php to /foo
RewriteCond %{THE_REQUEST} ^GET\ /(.*)\.php(\?.*)?\ HTTP/
RewriteRule ^ http://%{HTTP_HOST}/%1 [L,R=301]

# Redirect /foo/ to /foo, or /foo/bar/ to /foo/bar
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule .* %1 [L,R=301]

# Make /foo and /foo/bar execute /foo.php
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{REQUEST_FILENAME}.php (.*)
RewriteRule .* %1 [L]


</IfModule><IfModule mod_rewrite.c>
RewriteEngine on

# Redirect /index.php (and /index) to /
RewriteCond %{THE_REQUEST} ^GET\ /(.*/)?index(\.php)?(\?.*)?\ HTTP/
RewriteRule ^ http://%{HTTP_HOST}/%1 [L,R=301]

# Redirect /foo.php to /foo
RewriteCond %{THE_REQUEST} ^GET\ /(.*)\.php(\?.*)?\ HTTP/
RewriteRule ^ http://%{HTTP_HOST}/%1 [L,R=301]

# Redirect /foo/ to /foo, or /foo/bar/ to /foo/bar
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule .* %1 [L,R=301]

# Make /foo and /foo/bar execute /foo.php
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{REQUEST_FILENAME}.php (.*)
RewriteRule .* %1 [L]

# Note: If /foo.php exists, and /foo/bar/ is requested, the user will be redirected 
#       to /foo/bar and /foo.php will be executed. If this is unacceptable, replace
#       the previous two rule blocks with these:
#
#  RewriteCond %{DOCUMENT_ROOT}/current/path/$1.php -f
#  RewriteRule (.*)/$ $1.php [L,R=301]
#
#  RewriteCond %{DOCUMENT_ROOT}/current/path/$0.php -f
#  RewriteRule .* $0.php [L]
</IfModule>